#rem{
    width: 1.6rem;
    height: 1.6rem;
    background-color: rgb(236, 15, 15);
    border: solid ;
    margin-top: 5rem;
}
#em{
    width: 1.6em;
    height: 1.6em;
    background-color: rgb(0, 13, 128);
    border: solid ;
    margin-top: 5rem;
}

#pt{
    width: 16pt;
    height: 16pt;
    background-color: rgb(219, 223, 11);
    border: solid ;
    margin-top: 5rem;
}