#rem{
    width: 2.8rem;
    height: 2.8rem;
    background-color: rgb(236, 15, 15);
    border: solid ;
    margin-top: 5rem;
}
#em{
    width: 2.8em;
    height: 2.8em;
    background-color: rgb(0, 13, 128);
    border: solid ;
    margin-top: 5rem;
    color: white;
}

#pt{
    width: 28pt;
    height: 28pt;
    background-color: rgb(219, 223, 11);
    border: solid ;
    margin-top: 5rem;
}