body {
    background-color: midnightblue;
}

nav div {
    background-color: aliceblue;
    padding: 0.6em;
    border-radius: 0.2em;
}

nav div p {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

main section,
aside {
    background-color: aquamarine;
    border: solid red;
}

section {
    width: 50%;
}


aside div {
    background-color: aliceblue;
    border-radius: 0.2em;
    margin: 1em 0.5em ;
    padding:1em;
}
aside{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
