body{
    background-color: green;
    color: yellow;
}
#soledades{
    background-color: orange;
    color: black;


}

h1{
    text-align: center;
}

#enlaces p{
    text-align: center;
    font-style: italic;

}