body{
    width: 100%;
    height: auto;
    background-color: black;
    color: aliceblue;
}
h1{
    color: blueviolet;
}
#imagen1{
    width: 500px;
    border: solid 5px purple;
}
#margen{
    margin-left: 0px;
}
a {
    text-decoration: none;
    display: block;
}
#imagen2{
    border: solid 5px green;
    width: 500px;
}
