body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

main{
    width: 100%;
    margin: auto;
    height: 100%;
}
section{
    width: 60%;
    margin: auto;
    height:200px;
}
article{
    width: 100%;
    height:150px;
    font-size: 0.6em;
    border: 1px solid #6413c6;

}
figure{
    width: 30%;
    height:120px;
    display: inline-block;
    margin: 2px;
    margin-top: 2px;
}
img{
    width: 100%;
    height: 100%;
}
div{
    width: 60%;
    height:120px;
    display: inline-block;
    text-align: justify;
}
#fig-papaya{
    display: inline-block;
}
#text-papaya{
    float: left;
}
h3{
    text-transform: lowercase;
}
figure{
    border: solid red ; width: fit-content; display: inline-block;
}
