header{
    width: 100%;
    height: 35%;
    text-align: center;
    background-color:red
}
header figure{
    width: 15%;
    height: 100%;


}
body h1:nth-child(2){
    color: #380cec;
    text-align: center;
}
.banner{
    width: 100%;
    height: 70%;
}
.logo_Menu{
    width: 100%;
    height: 30%;
    text-align: center;
}
nav{
    width: 80%;
    height: 70%;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
    font-size: 1.5em;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li:hover{
    color: #ff0000;
;
}

main{
    width: 100%;
    height: 50%;
    border: solid 1px #290a7f;
}
.container{
    width: 100%;
    height: 100%;
    border: solid 1px #dd1259;
display: inline-block;
}
.img_1{
    width: 50%;
    height: 80%;
    border: solid 1px #0e0e0e;
    display: inline-block;
}
figure{
    width: 100%;
    height: 100%;
}
figure img{
    width: 90%;
}
.content_text{
    width: 45%;
    height: 80%;
    display: inline-block;
}
article{
    width: 100%;
    height: 18%;
    border: solid 1px #c6eb0a;
}

/** FOOTER **/
footer{
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
    background-color: #290a7f;
}
