h1,h3{
 text-align: center;
}

body{
    background-color: antiquewhite;
}

footer{
    background-color: blue;
    color: rgb(235, 228, 241);
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 60px;
}
.button_crear_cuenta{
    text-align: center;
}
.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}
input{
    display: block;
}
#naranja{
    background-color: orangered;
}
#celeste{
    background-color: aqua;
}
#yellow{
    background-color: yellow;

}
#verde{
    color: green;
}
.letraRoja{
    color: red;
}
.letraBlanco{
    color: white;
}
.fondo4{
    background-color: blueviolet;
}
.letraSalmon{
    color: salmon;
}	
.area{
    width: 500px;
    height: 300px;
    border: 1px solid red;
}