
body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #333;
    margin: 0;
    padding: 0; 
}
table{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}
table, th, td{
    border: 1px solid #333;

}
th{
    background-color: #333;
    color: #fff;
    text-align: center;
}
td{
    text-align: center;
}
tr:nth-child(even){
    background-color: #e6e6e6;
}
tr:nth-child(odd){
    background-color: #fff;
}

/* Path: UT1-LM/Tema4_PracticaTablas/css/estilo.css */